/*-- scss:defaults --*/

/* Import the Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Apply the font to the body and other elements as needed */
body {
  font-family: 'Montserrat', sans-serif;
}

/* Example of applying the font to specific elements */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;

/*-- scss:rules --*/
kbd,
.kbd {
    background-color: #f6f5f5 !important;
}

.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}